<h1>Post Detail</h1>
<p>Title : <%= @post.title %></p>
<p>Author : <%= @post.user.email %></p>
<%= simple_format(@post.body) %>
<%= attachment_image_tag @post, :post_image, :fill, 600, 400, format: "jpeg" %>